.active-link {
    background-color: #fff !important;
    color: #431b05 !important;
}

.nonactive-link {
    background-color: #f6c029 !important;
}

#tables {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/* .table {
    width: 100px;
    height: 100px;
    border: 2px solid #333333;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
} */
.available {
    background-color: lightgreen;
}
.booked {
    background-color: lightcoral;
    pointer-events: none;
}

.btn-icon {
    height: 36px;
    background-color: #60FE7D;
}

.btn-text {
    height: 36px;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 20px auto;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.card h2 {
    margin-top: 0;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-group div {
    flex: 1;
    min-width: 200px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #ec971f;
}
.form-group .upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
    height: 150px;
}
.form-group .upload-btn:hover {
    background-color: #ec971f;
}
.form-group .upload-btn input {
    display: none;
}
.table-container {
    overflow-x: auto;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container th, .table-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-container th {
    background-color: #fff;
}
.table-container tr:nth-child(even) {
    background-color: #FFFFBE;
}
/* .table-container tr:hover {
    background-color: #f1f1f1;
} */
.btn-plus{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif !important;
    /* height: 38px; */
    /* padding-bottom: 10px; */
}
.iconplus{
    font-size: 25px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.filter-buttons button {
    padding: 5px 10px;
    border: 1px solid #f0ad4e;
    background-color: white;
    color: #f0ad4e;
    border-radius: 15px;
    cursor: pointer;
}
.filter-buttons button.active, .filter-buttons button:hover {
    background-color: #f0ad4e;
    color: white;
}
.search-container {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* margin-left: 3rem; */
}
.search-container input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-container button {
    padding: 10px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #ec971f;
}

.btn-simpan {
    float: right !important;
    background-color: #F6C029 !important;
    color: #ffffff !important;
}

body {
    font-family: Arial, sans-serif !important;
}

.dropdown {
    position: relative !important;
    display: inline-block !important;
}

.dropbtn {
    background-color: white !important; /* Warna latar belakang tombol */
    color: black !important; /* Warna teks tombol */
    padding: 10px !important; /* Padding tombol */
    font-size: 16px !important; /* Ukuran font */
    border: none !important; /* Hapus border */
    cursor: pointer !important; /* Kursor pointer saat hover */
}

.dropdown-content {
    display: none !important; /* Sembunyikan konten dropdown */
    position: absolute !important; /* Posisi absolut */
    background-color: #f9f9f9 !important; /* Warna latar belakang dropdown */
    min-width: 200px !important; /* Lebar minimum dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important; /* Bayangan */
    z-index: 1 !important; /* Z-index */
}

.dropdown-content a {
    color: black !important; /* Warna teks tautan */
    padding: 12px 16px !important; /* Padding tautan */
    text-decoration: none !important; /* Hapus garis bawah */
    display: block !important; /* Tampilkan sebagai blok */
}

.dropdown-content a:hover {
    background-color: #f1f1f1 !important; /* Warna latar belakang saat hover */
}

.dropdown:hover .dropdown-content {
    display: block !important; /* Tampilkan konten saat hover */
}

.total {
    border: solid #F6C029 !important;
    border-radius: 3px !important;
    padding: 12px !important;
}

/* flex justify-end items-center mt-4 p-4 bg-yellow-500 text-white rounded bottom */

/* #product-image {
    padding: 25px !important;
} */

/* * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.user-img {
    width: 50px !important;
    border-radius: 100% !important;
    border: 1px solid #eee !important;
}

.sidebar {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 80px !important;
    background-color: #12117e !important;
    padding: 0.4rem 0.8rem !important;
    transition: all 0.5s ease !important;
}

.sidebar.active ~ .main-content {
    left: 250px !important;
    width: calc(100% - 250px) !important;
}

.sidebar-active {
    width: 250px !important;
}

.sidebar #btn {
    position: absolute !important;
    color: #fff !important;
    top: .4rem !important;
    left: 50% !important;
    font-size: 1.2rem !important;
    line-height: 50px !important;
    transform: translateX(-50%) !important;
    cursor: pointer !important;
}

.sidebar.active #btn {
    left: 90% !important;
}

.sidebar .top .logo {
    color: #fff !important;
    display: flex !important;
    height: 50px !important;
    width: 100% !important;
    align-items: center !important;
    pointer-events: none !important;
    opacity: 0 !important;
}

.sidebar.active .top .logo {
    opacity: 1 !important;
}

.top .logo i {
    font-size: 2rem !important;
    margin-right: 5px !important;
}

.user {
    display: flex !important;
    align-items: center !important;
    margin: 1rem 0 !important;
}

.user p {
    color: #fff !important;
    opacity: 1 !important;
    margin-left: 1rem !important;
}

.bold {
    font-weight: 600 !important;
}

.sidebar p {
    opacity: 0 !important;
}

.sidebar.active {
    opacity: 1 !important;
}

.sidebar ul li{
    position: relative !important;
    list-style-type: none !important;
    height: 50px !important;
    width: 90% !important;
    margin: 0.8rem  auto !important;
    line-height: 50px !important;
}

.sidebar ul li a{
    color: #fff !important;
    display: flex!important;
    align-items: center !important;
    text-decoration: none !important;
    border-radius: 0.8rem !important;
}

.sidebar ul li a:hover {
    background-color: #fff !important;
    color: #12171e !important;
}

.sidebar ul li a i {
    min-width: 50px !important;
    text-align: center !important;
    height: 50px !important;
    border-radius: 12px !important;
    line-height: 50px !important;
}

.sidebar .nav-item {
    opacity: 0 !important;
}

.sidebar.active .nav-item {
    opacity: 1 !important;
}

.sidebar ul li .tooltip {
    position: absolute !important;
    left: 125px !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2) !important;
    border-radius: .6rem !important;
    padding: .4rem 1.2rem !important;
    line-height: 1.8rem !important;
    z-index: 20 !important;
    opacity: 0 !important;
}

.sidebar ul li:hover .tooltip {
    opacity: 1 !important;
}

.siderbar.active ul li .tooltip {
    display: none !important;
}

.main-content {
    position: relative !important;
    background-color: #eee !important;
    min-height: 100vh !important;
    top: 0 !important;
    left: 80px !important;
    transition: all 0.5s ease !important;
    width: calc(100% - 80px) !important;
    padding: 1rem !important;
} */ 
.diskon {
    color: #000000;
}
.proses {
    background-color: #05B926;
    color: #ffffff;
    border-radius: 5px;
    border:none;
    height: 36px;
    width: 150px; 
    font-size: 12px;
}
.kbl{
    background-color: #f6c029;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.tambah {
    border: none;
    background-color: #ffffff;
    font-size: 12px;
}
.detail {
    color:#000000;
    font-size: 12px;
}
.notes {
    font-size: 14px;
}
.keranjang {
    font-size: 20px;
}
.kirim {
    background-color: #F86D10;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.cetak {
    background-color: #F6C029;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.baru {
    background-color: #129B1B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}


.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
  }
  .card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
  }
  .card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .main--title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px; 
  }
  .categories{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
  }
  .categories:hover{
    transform: translateY(-5px);
  }
  .card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .amount{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 12px;
    font-weight: 200;
  }
  .amount--value{
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
  }
  .icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
  }
  .card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .payment-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .payment-method, .order-summary {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-option {
    margin-bottom: 10px;
  }
  
  .payment-option input[type="radio"] {
    margin-right: 5px;
  }
  
  .payment-option .payment-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .order-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-summary li {
    margin-bottom: 10px;
  }
  
  .order-summary button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .bayar{
    background-color: #f6c029;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
  }
  .kembali{
    background-color: #f6c029;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
  }

  .border{
    border-color: #f6c029 !important;
  }

  .kecil{
    overflow-y: hidden;
  }
  .pendapatan {
    position: relative;
    background: #ffffff;
    width: 50%;
    border-radius: 16px;
    box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 32px;
  }
  .menu {
    position: relative;
    background: #ffffff;
    width: 50%;
    border-radius: 16px;
    box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 32px;
  }
  .pelanggan {
    position: relative;
    background: #ffffff;
    width: 50%;
    border-radius: 16px;
    box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 32px;

  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}
.bulanan{
    position: relative;
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
    box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
}
.tahunan{
    position: relative;
    background: #ffffff;
    width: 100%;
    border-radius: 16px;
    box-shadow: 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
}
.gambar1{
    height: 36px;
    width: 36px;
    border-radius: 3px;
}    
.gambar2{
    height: 36px;
    width: 36px;
    border-radius: 3px;
}    
.gambar3{
    height: 36px;
    width: 36px;
    border-radius: 3px;
}
.krj{
    size: 12px;
    color: #ec971f;
}
.bumej{
    float: right;
}

.smp{
    background-color: #f6c029;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.plh{
    background-color: #f6c029;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.fa-cart-plus{
    position: relative;
    color: #232323;
}
.spn{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: #ec971f;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 20px;
    font-size: 12px;
}
.pemesanan {
    font-size: 12px;
}