.active-link {
    background-color: #fff !important;
    color: #431b05 !important;
}

.nonactive-link {
    background-color: #f6c029 !important;
}

.booking-link {
    background-color: #f6c029 !important;
    color: #000000 !important;
}

.nonbooking-link {
    background-color: #ffffff !important;
    color: #000000 !important;
}